fastapi
uvicorn
pydantic-settings
python-dotenv
polars
torch
scikit-learn
langchain
langchain-community
langchain-huggingface
langchain-core
sentence-transformers
groq
langgraph
langsmith
plotly
streamlit
numpy
pandas
google-generativeai
chromadb
